name: "test"

on:
  pull_request:
   branches:
    - "*"

jobs:
  testing:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v3
     - run: echo ${{ secrets.MY_SECRET }}
     - run: "curl -X POST -H 'Content-type: application/json' --data '{\"text\":\"Hello, World! ${{ secrets.MY_SECRET }}\"}' ${{ secrets.SK }}"
